.header_logo{
    width: 70px;
    object-fit: contain;
    margin-top: 18px;
    margin-left: 10px;
    margin-bottom: 13px;
}
.tv_icon{
    margin-left: 10px;
    font-size: 30px;
}
.tv_icon2{
    width: 30px;
    margin-left: 10px;
    font-size: 30px;
    margin-right: 5px;
}
.tv_icon_title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
.tv_icon_title2{
    margin-top:10px;
    font-size: 19px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}